<html>
  <head><title>{{ helloworld }}</title></head>
  <body style="background-image: linear-gradient(red,orange,yellow,green,blue,indigo,violet);">
  <center><img src="http://placekitten.com/800/600"></img></center>
  <marquee><h1>Meow World</h1></marquee>
  </body>
</html>